
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

#pantalla{
    width: 100vw;
    height: 100vh;
    cursor: crosshair;
    position: relative;
}
#contador{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#objetivo{
    width: 100px;
    height: 100px;

    position: absolute;
    top: 120px;
    left: 100px;

    background-image: url("img/objetivo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    z-index: 999;
    transition: all .1s linear;
}
